{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 8,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
